# Kconfig - nRF91 PCA20035 board configuration
#
# Copyright (c) 2019 Nordic Semiconductor ASA
# Copyright (c) Ericsson AB 2020, all rights reserved
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic

if SOC_NRF9160_SICA

config BOARD_NRF9160_ARD0022B
	bool "nRF9160 ARD0022B"
	depends on !TRUSTED_EXECUTION_NONSECURE

config BOARD_NRF9160_ARD0022BNS
	bool "nRF9160 ARD0022B non-secure"
	depends on TRUSTED_EXECUTION_NONSECURE

endif # SOC_NRF9160_SICA
